.git
.gitignore
.github
target/
_storage/
test/
test_results/
docs/
envs/
envs.copy/
ui-tests/
www/**/node_modules/
www/**/build/
.env
.env.local
*.log
tmp/
docker-compose.yml
*.md
.vscode/
.idea/
.DS_Store
*.swp
*.swo
node_modules/
*.pem
*.key
.cache

# Docker files
.dockerignore
Dockerfile*
